
body {
    padding-top: 20px;
}
.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.jumbotron {
    background-color: transparent;
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #d5d5d5;
    color: #777;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0 none;
    border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
.nav-justified {
    max-height: 52px;
}
.nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
}
.nav-justified > li:first-child > a {
    border-left: 0 none;
    border-radius: 5px 0 0 5px;
}
.nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0 none;
}
}
@media screen and (min-width: 768px) {
.masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
}
}
